name: Test semantic-issue-action

on:
  issues:
    types:
      - opened
      - edited
      - reopened
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test hwakabh/semantic-issue-action
        uses: ./
        with:
          repo: 'hwakabh/semantic-issue-action'
          token: ${{ secrets.GITHUB_TOKEN }}
